{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="/accounts/{{employer.id}}/apprentices/add" class="govuk-back-link">Back to add apprentice</a>

        <h1 class="govuk-heading-xl">
            Choose organisation
        </h1>
        <form action="/accounts/{{employer.id}}/apprentices/add/choose-organisation" method="POST" class="form">            
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">
                    Which organisation is named on the contract with the training provider for the apprentices you'd like to add?
                  </h2>
                </legend>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="organisation-nice-employer" name="organisation" type="radio" value="Nice Employer" {{ checked("organisation", "Nice Employer") }}>
                    <label class="govuk-label govuk-radios__label" for="organisation-nice-employer">
                      Nice Employer
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="organisation-good-employer" name="organisation" type="radio" value="Good Employer" {{ checked("organisation", "Good Employer") }}>
                    <label class="govuk-label govuk-radios__label" for="organisation-good-employer">
                      Good Employer
                    </label>
                  </div>                  
                </div>
              </fieldset>
            </div>
    
            <button class="govuk-button">Continue</button>
    
          </form>          
    </div>
</div>

{% endblock %}
