{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/accounts/{{employer.id}}/apprentices/add/training-provider" class="govuk-back-link">Back to add training provider details</a>

    <h1 class="govuk-heading-xl">
      Confirm training provider
    </h1>

    <p class="ukgov-body">
      UK Provider Reference Number <strong>'{{ data["uk-provider-reference-number"] }}'</strong> matches:</p>

    <h2 class="govuk-heading-m">
      NCG
      <span class="govuk-caption-m">UKPRN: {{ data["uk-provider-reference-number"] }}</span>
    </h2>

    <form action="/accounts/{{employer.id}}/apprentices/add/confirm-training-provider" method="POST" class="form">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Is this the main provider of the apprenticeship training?
            </h2>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-true" name="confirmation" type="radio" value="true" {{ checked(
                "confirmation", "True") }}>
              <label class="govuk-label govuk-radios__label" for="confirmation-true">
                Yes, use NCG
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-false" name="confirmation" type="radio" value="false" {{ checked(
                "confirmation", "False") }}>
              <label class="govuk-label govuk-radios__label" for="confirmation-false">
                No, change UK Provider Reference Number
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>

{% endblock %}