{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="/accounts/{{employer.id}}/apprentices/add/start-adding-apprentices" class="govuk-back-link">Back to start adding apprentices</a>

        <h1 class="govuk-heading-xl">
           Message for your training provider
        </h1>

        <h2 class="govuk-heading-m">Let <strong>NCG</strong> know what you'd like them to do next.</h2>
        
        <form action="/accounts/{{employer.id}}/apprentices/add/message-for-training-provider" method="POST" class="form">            
            <div class="govuk-form-group">
                <label class="govuk-label" for="provider-message">
                    Message (optional)
                </label>                
                <textarea class="govuk-textarea" id="provider-message" name="provider-message" rows="5" value="{{ data["provider-message"] }}"></textarea>
            </div>
            <button class="govuk-button">Send</button>
    
          </form>          
    </div>
</div>

{% endblock %}
