{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<a href="../requests/start" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="POST">
            <h2 class="govuk-heading-m">Confirm employer</h2>
            <div class="govuk-form-group">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Account Id</th>
                            <th class="govuk-table__header" scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{ data["apprenticeship_account_id"] }}</th>
                            <td class="govuk-table__cell">Test Employer 1</td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
            <button type="submit" class="govuk-button govuk-button--start">
                Confirm
            </button>
        </form>

    </div>
</div>

{% endblock %}