{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<a href="../../transfers" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--blue text-left">
            <h2 class="govuk-heading-m">Connect with a receiving employer</h2>
            <div class="govuk-panel__body">
                <p>
                    To connect with a receiving employer you want to transfer funds to, you'll need to:
                </p>
                <ol class="govuk-list govuk-list--number">
                    <li>agree the apprentices, training and costs that the transfer funds will cover</li>
                    <li>ensure the receiving employer has registered on the apprenticeship service</li>
                    <li>request the receiving employer's apprenticeship account ID. This can be found under the account name
                        on the apprenticeship service homepage.</li>
                </ol>
                <p>
                    You won't be able to complete the next step until you have the receiving employer's account ID.
                </p>
            </div>
        </div>

        <div>
            <a href="requests/start" role="button" class="govuk-button govuk-button--start">
                Continue
            </a>            
        </div>
        <a href="../../transfers" class="govuk-link">Cancel</a>
    </div>
</div>

{% endblock %}