{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<a href="../requests" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="POST">
            <h2 class="govuk-heading-m">Which employer are you connecting with?</h2>
            <div class="govuk-form-group">
                <label class="govuk-label" for="apprenticeship_account_id">
                    Enter the employer's apprenticeship account ID
                </label>
                <span id="apprenticeship_account_id-hint" class="govuk-hint">
                    You need to request this directly from the employer. Account IDs can be found under the account name on the apprenticeship
                    service homepage.
                </span>
                <input class="govuk-input" id="apprenticeship_account_id" name="apprenticeship_account_id" type="text" aria-describedby="apprenticeship_account_id-hint">
            </div>
            <button type="submit" class="govuk-button govuk-button--start">
                Continue
            </button>
        </form>

    </div>
</div>

{% endblock %}