{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="../../{{apprentice.id}}/EditStatus" class="govuk-back-link">Back</a>

        <form method="POST">
            <input name="status" value="Stopped" type="hidden" />
            <h1 class="govuk-heading-xl">Select stop date</h1>
            <div class="govuk-form-group">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Name</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold">{{ apprentice.name }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Unique learner number</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold">{{ apprentice.unique_learner_number }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Apprenticeship training course</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold">{{ apprentice.apprenticeship_training_course }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            When did this apprentice stop?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="DateSelection-today" name="DateSelection" type="radio" value="Today" />
                            <label class="govuk-label govuk-radios__label" for="DateSelection-Today">
                                Today
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="DateSelection-BeforeToday" name="DateSelection" type="radio" value="BeforeToday" data-aria-controls="conditional-how-contacted-conditional-before-today">
                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-before-today">
                                Before Today
                            </label>
                        </div>
                        <div class="govuk-radios__conditional" id="conditional-how-contacted-conditional-before-today">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="StopDate-hint" role="group">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h1 class="govuk-fieldset__heading">
                                            Enter stop date
                                        </h1>
                                    </legend>
                                    <span id="StopDate-hint" class="govuk-hint">
                                        The earliest date you can enter is 01 08 2017
                                    </span>
                                    <div class="govuk-date-input" id="StopDate">

                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="StopDate-day">
                                                    Day
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="StopDate-day" name="StopDate_day" type="number" pattern="[0-9]*">
                                            </div>
                                        </div>

                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="StopDate-month">
                                                    Month
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="StopDate-month" name="StopDate_month" type="number" pattern="[0-9]*">
                                            </div>
                                        </div>

                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group govuk-form-group--year">
                                                <label class="govuk-label govuk-date-input__label" for="StopDate-year">
                                                    Year
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="StopDate-year" name="StopDate_year" type="number" pattern="[0-9]*">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}