{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="../../{{apprentice.id}}/EditStatus" class="govuk-back-link">Back</a>

        <form method="POST">
            <input name="status" value="Paused" type="hidden" />
            <h1 class="govuk-heading-xl">Pause apprentice</h1>
            <div class="govuk-form-group">
                <p>You're about to pause this apprentice and any future payments to their training provider. Any outstanding
                    payments for training up to this point will still be made. You'll be able to return and resume the apprentice
                    again later.
                </p>
                <p>
                    You'll be able to return and resume the apprentice again later.
                </p>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Name</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold">{{ apprentice.name }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Unique learner number</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold">{{ apprentice.unique_learner_number }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Date change take effect</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold">{{ dateChangeTakesEffect | date("DD MMM YYYY") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            Would you like to pause this apprentice?
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirm-yes" name="confirm" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="confirm-yes">
                                Yes, pause this apprentice
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirm-no" name="confirm" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="confirm-no">
                                No, don't pause this apprentice
                            </label>
                        </div>                        
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}