{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<a href="../apprentices" class="govuk-back-link">Back to Apprentices</a>

<h1 class="govuk-heading-xl">
    Manage your apprentices
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Search for an apprentice</h2>
        <form>
            <input class="govuk-input" id="Search" name="Search" type="text" style="margin-bottom: 5px;" value="{{ data['Search'] }}" />
            <button type="submit" class="govuk-button btn-block" style="margin-bottom: 22px;">Search</button>

            <hr>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Filter Apprentices</legend>

                <div class="filter-option-select">
                    <div class="container-head">
                        <div class="option-select-label govuk-body">
                            Status
                        </div>
                    </div>
                    <div class="options-container">
                        <div class="item">
                            <label for="Status-Live" class="selection-button-checkbox">
                                <input type="checkbox" name="Status" value="Live" class="" id="Status-Live" {{ checked( 'Status', 'Live') }} />
                                <span>Live</span>
                            </label>
                        </div>
                        <div class="item">
                            <label for="Status-Paused" class="selection-button-checkbox">
                                <input type="checkbox" name="Status" value="Paused" class="" id="Status-Paused" {{ checked( 'Status', 'Paused') }} />
                                <span>Paused</span>
                            </label>
                        </div>
                        <div class="item">
                            <label for="Status-Stopped" class="selection-button-checkbox">
                                <input name="Status" value="Stopped" class="" id="Status-Stopped" type="checkbox" {{ checked( 'Status', 'Stopped') }} />
                                <span>Stopped</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter-option-select">
                    <div class="container-head">
                        <div class="option-select-label govuk-body">
                            Alerts
                        </div>
                    </div>
                    <div class="options-container">
                        <div class="item">
                            <label for="RecordStatus-ChangesPending" class="selection-button-checkbox">
                                <input name="Alerts" value="ChangesPending" class="" id="RecordStatus-ChangesPending" type="checkbox" {{ checked(
                                    'Alerts', 'ChangesPending') }} />
                                <span>Changes pending</span>
                            </label>
                        </div>
                        <div class="item">
                            <label for="RecordStatus-ChangesForReview" class="selection-button-checkbox">
                                <input name="Alerts" value="ChangesForReview" class="" id="RecordStatus-ChangesForReview" type="checkbox" {{ checked(
                                    'Alerts', 'ChangesForReview') }} />
                                <span>Changes for review</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter-option-select">
                    <div class="container-head">
                        <div class="option-select-label govuk-body">
                            Training Courses
                        </div>
                    </div>
                    <div class="options-container">  
                        <div class="item">
                            <label for="Course-9811" class="selection-button-checkbox">
                                <input name="TrainingCourses" value="9811" class="" id="Course-9811" type="checkbox" {{ checked( 'TrainingCourses', '9811') }} />
                                <span>Electrician, Level: 2</span>
                            </label>
                        </div>                      
                        <div class="item">
                            <label for="Course-431-2-3" class="selection-button-checkbox">
                                <input name="TrainingCourses" value="431-2-3" class="" id="Course-431-2-3" type="checkbox" {{ checked( 'TrainingCourses', '431-2-3') }} />
                                <span>Bus and Coach Engineering and Maintenance: Body, Level: 3</span>
                            </label>
                        </div>
                        <div class="item">
                            <label for="Course-34" class="selection-button-checkbox">
                                <input name="TrainingCourses" value="34" class="" id="Course-34" type="checkbox" {{ checked( 'TrainingCourses', '34') }} />
                                <span>Able seafarer (deck), Level: 2 (Standard)</span>
                            </label>
                        </div>
                        <div class="item">
                            <label for="Course-454-3-1" class="selection-button-checkbox">
                                <input name="TrainingCourses" value="454-3-1" class="" id="Course-454-3-1" type="checkbox" {{ checked( 'TrainingCourses', '454-3-1') }} />
                                <span>Accounting, Level: 2</span>
                            </label>
                        </div>
                        <div class="item">
                            <label for="Course-454-20-1" class="selection-button-checkbox">
                                <input name="TrainingCourses" value="454-20-1" class="" id="Course-454-20-1" type="checkbox" {{ checked('TrainingCourses', '454-20-1') }} />
                                <span>Accounting, Level: 4</span>
                            </label>
                        </div>
                        <div class="item">
                            <label for="Course-274" class="selection-button-checkbox">
                                <input name="TrainingCourses" value="274" class="" id="Course-274" type="checkbox" {{ checked( 'TrainingCourses', '274') }} />
                                <span>Abattoir Worker, Level: 2 (Standard)</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter-option-select">
                    <div class="container-head">
                        <div class="option-select-label govuk-body">
                            Provider
                        </div>
                    </div>
                    <div class="options-container">
                        <div class="item">
                            <label for="Provider-10000534" class="selection-button-checkbox">
                                <input name="Provider" value="10000534" class="" id="Provider-10000534" type="checkbox" {{ checked( 'Provider', '10000534') }} />
                                <span>BARNFIELD COLLEGE</span>
                            </label>
                        </div>
                        <div class="item">
                            <label for="Provider-10005077" class="selection-button-checkbox">
                                <input name="Provider" value="10005077" class="" id="Provider-10005077" type="checkbox" {{ checked( 'Provider', '10005077') }} />
                                <span>PETERBOROUGH REGIONAL COLLEGE</span>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="govuk-button btn-block">Filter</button>
            <a href="#" onclick="window.location.href = window.location.origin + window.location.pathname;">Reset</a>
        </form>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">Unique learner number</th>
                    <th class="govuk-table__header" scope="col">Date of birth</th>
                    <th class="govuk-table__header" scope="col">Status</th>
                    <th class="govuk-table__header" scope="col">Alerts</th>
                    <th class="govuk-table__header" scope="col"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                {% for item in apprentices %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell nowrap" scope="row">{{ item.name }}</td>
                    <td class="govuk-table__cell" scope="row">{{ item.unique_learner_number }}</td>
                    <td class="govuk-table__cell nowrap" scope="row">{{ item.dob | date('D MMM YYYY') }}</td>
                    <td class="govuk-table__cell" scope="row">{{ item.status }}</td>
                    <td class="govuk-table__cell" scope="row">{{ item.alert }}</td>
                    <td class="govuk-table__cell" scope="row">
                        <a href="manage/{{item.id}}">View</a>
                    </td>
                </tr>
                {% else %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell nowrap" colspan="6" scope="row">
                        <i>No data</i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}